﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh mục Sản Phẩm
        <button type="button" onclick="return BtnCreateNewOnClick()" id="btnCreateNew" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal" style="float:right;">
            Create New
        </button>
    </div>
    <div class="card-body">
        @*table dùng để hiển thị danh sách*@
        <div class="table-responsive">
            <table id="listCategory" class="table">
                <thead>
                    <tr>
                        <th><label>Id</label></th>
                        <th><label>Name</label></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        @*modal dùng để hiển thị form Create và Update*@
        <div class="modal fade" id="categoryModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><label id="title"></label></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="hidden" class="form-control" id="Id" />
                                    <label>Name</label>
                                    <input type="text" id="Name" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btnSave" onclick="return BtnSaveOnClick()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*hàm xử lý Ajax ngay trong trang Index*@

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            GetCategories();
        })

        var isUpdatable = false;

        function GetCategories() {
            var GetCategoriesUrl = '@Url.Action("GetCategories","Categories")';
            $.getJSON(GetCategoriesUrl, function (data) {
                if (data != null) {
                    var rows = '';
                    $.each(data, function (i, item) {
                        rows += "<tr>"
                        rows += "<td>" + item.Id + "</td>"
                        rows += "<td>" + item.Name + "</td>"
                        rows += "<td><button type='button' id='btnEdit' class='btn btn-default' onclick='return GetCategoryByID(" + item.Id + ")'>Edit</button> <button type='button' id='btnDelete' class='btn btn-danger' onclick='return Delete(" + item.Id + ")'>Delete</button></td>"
                        rows += "</tr>";
                        $("#listCategory tbody").html(rows);
                    });
                }

            });
        }


        function GetCategoryByID(id) {
            $("#title").text("Details");

            var GetCategoryByIDUrl = '@Url.Action("GetCategoryByID", "Categories")';
           
            $.ajax({
                url: GetCategoryByIDUrl+ "/" + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data[0]);
                    $("#Id").val(data[0].Id);
                    $("#Name").val(data[0].Name);
                    isUpdatable = true;
                    $("#categoryModal").modal('show');
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        }

 

        //hàm Insert và Update
        function BtnSaveOnClick () {
            event.preventDefault();

            var CreateUrl = '@Url.Action("Create", "Categories")';
            var EditUrl = '@Url.Action("Edit", "Categories")';

            if (!isUpdatable) {
                var data = {
                    Name: $("#Name").val()
                }
            } else {
                var data = {
                    Id: $("#Id").val(),
                    Name: $("#Name").val()
                }
            }
            
           
            console.log(data);
            if (!isUpdatable) {
                $.ajax({
                    url: CreateUrl,
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        GetCategories();
                        $("#categoryModal").modal('hide');
                        clear();
                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                })
            }
            else {
                $.ajax({
                    url: EditUrl,
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        GetCategories();
                        isUpdatable = false;
                        $("#categoryModal").modal('hide');
                        clear();
                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                })
            }
        };

        function Delete(id) {
            var confirmDelete = confirm("Do you want to delete this Category ?");
            var DeleteUrl = '@Url.Action("Delete", "Categories")';
            if (confirmDelete) {
                $.ajax({
                    url: DeleteUrl + "/"+ id,
                    type: "POST",
                    dataType: 'json',
                    success: function (data) {
                        GetCategories();
                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                });
            }
        }

        function BtnCreateNewOnClick() {
            $("#title").text("Create New");
            clear();
            isUpdatable = false;
        }

        // hàm đóng modal
        $("#btnClose").click(function () {
            clear();
        });

        // hàm reset giá trị về rỗng sau khi thực hiện Create hoặc Delete
        function clear() {

            $("#Id").val("");
            $("#Name").val("");
            
        }

    </script>
}
