﻿@model PagedList.IPagedList<BaoThanh.Models.tbl_Products>
@using PagedList.Mvc;

@{
    ViewBag.Title = "All";
    Layout = " ~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-2">

    </div>

    <div class="col md-10">
        <div class="row">
            <span class="text-info">Tìm theo giá</span>
            @using (Html.BeginForm("TimTheoGia", "Home", FormMethod.Get, new { @class = "form-inline search-form" }))
            {
                <input class="form-control mr-sm-2 search-text" type="number" placeholder="Giá từ" aria-label="Search" id="GiaThap" name="GiaThap">
                <input class="form-control mr-sm-2 search-text" type="number" placeholder="đến" aria-label="Search" id="GiaCao" name="GiaCao">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            }
        </div>
        <div class="row sort-by">
            <nav class="nav">
                <span class="nav-link">Tùy Chọn Xem :</span>
                <a class="nav-link" href="@Url.Action("PriceLowToHigh","Home")">Giá tăng dần</a>
                <a class="nav-link" href="@Url.Action("PriceHighToLow","Home")">Giá giảm dần</a>
            </nav>
        </div>
        <div class="row ds-sp">
            @foreach (var item in Model)
            {
                var url = "/San-pham" + "-" + item.Alias + "-" + item.Id;
                <div class="col-md-3 col-sm-6 col-xs-12 product-item-box">
                    <div class="product-item">
                        <div class="product-img">
                            <img class="img-responsive" src="~/Content/images/@item.Image" alt="">
                        </div>
                    </div>

                    <div class="product-detail">
                        <h4>@item.Name</h4>
                        <div class="price">
                            <span class="new-price text-center">@String.Format("{0:N0}", item.Price) VNĐ</span>
                        </div>
                        <div class="box-inner">
                            <ul class="product-link list-inline">
                                <li class="list-inline-item" data-toggle="popover" data-placement="top" data-content="Thêm Giỏ Hàng" data-trigger="hover">
                                    <a href="@Url.Action("AddShoppingCart","ShoppingCart",new { @Id = @item.Id , @strURL = @Request.Url.ToString() })" onclick=""><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item" data-toggle="popover" data-placement="top" data-content="So Sánh" data-trigger="hover">
                                    <a href="#"><i class="fa fa-compress fa-2x" aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item" data-toggle="popover" data-placement="top" data-content="Chi Tiết" data-trigger="hover">
                                    <a href="@url"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-12">
                <div class="justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("All", new { page }))
                </div>
            </div>
        </div>

    </div>
</div>