@model BaoThanh.Models.tbl_Products

@{
    ViewBag.Title = Html.DisplayFor(m=>m.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="
    background-color: #efefef;
    margin-bottom: 20px;
    ">
    <nav class="nav">
        <a class="nav-link" href="/">Trang Chủ</a>
        <span class="nav-link"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        <a class="nav-link" href="#">@Model.tbl_Categories.Name</a>
        <span class="nav-link"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        <a class="nav-link disabled" href="#">@Model.Name</a>
    </nav>
</div>
<div class="row" style="margin-bottom:30px">
    <div class="col-md-5" style="border-right: 3px solid #f7f7f7;">
        <div class="product-img">
            <img style="width:75%" src="~/Content/images/@Model.Image" class="rounded mx-auto d-block"/>
        </div>

    </div>
    <div class="col-md-7" style="padding-left: 35px;">
        
            <div class="row" style="border-bottom: 2px solid #f7f7f7;" >
                <h3 style="margin:50px 20px 20px 20px;">@Model.Name</h3>
            </div>
            <div class="row" style="margin:20px;    ">
                <div class="col md-7" >
                    <div class="row " style="margin-bottom:20px">
                        <span class="text-muted">Giá bán :</span>
                        <span class="new-price" style="
                        font-size: 30px;
                        margin-top: -15px;
                        margin-left: 20px;
                    ">
                            @String.Format("{0:N0}", Model.Price) VND
                        </span>
                    </div>
                    <div class="row">
                        @using (Html.BeginForm("AddShoppingCart", "ShoppingCart", new { @id = @Model.Id , @strURL = @Request.Url.ToString() }, FormMethod.Post, new { @class = "form-inline" }))
                        {
                            
                            <div class="form-group" style="width: 70px; ">
                                <label for="Quantity" class="sr-only">Quantity</label>
                                <input type="text" readonly class="form-control-plaintext" id="Quantity" value="Số lượng :">
                            </div>
                            <div class="form-group mx-sm-3">
                                <label for="inputPassword2" class="sr-only">InputQuantity</label>
                                <input type="number" class="form-control" id="InputQuantity" name="InputQuantity" value="1">
                            </div>
                           
                                <button type="submit" class="btn btn-danger">Thêm Giỏ Hàng</button>
                           
                        }

                        <div>
                            <p style="margin-top:30px"><strong>Mô tả sản phẩm :</strong> </p>
                            <p>@Model.Detail</p>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>

<div class="card" style="margin-bottom:30px">
    <div class="card-header">
        THÔNG TIN CHI TIẾT
    </div>
    <div class="card-body">
        <table class="table" style="margin-top:20px; margin-right:20px;">
            <tr>
                <th>Size</th>
                <th>
                    @if (@Model.Size == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        @Model.Size
                    }
                </th>
            </tr>
            <tr>
                <th>Weight</th>
                <th>
                    @if (@Model.Weight == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        @Model.Weight
                    }
                </th>
            </tr>

            <tr>
                <th>Memory</th>
                <th>
                    @if (@Model.Memory == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        @Model.Memory
                    }
                </th>
            </tr>

            <tr>
                <th>Os</th>
                <th>
                    @if (@Model.Os == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        @Model.Os
                    }
                </th>
            </tr>

            <tr>
                <th>CPU</th>
                <th>
                    @if (@Model.Cpu == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        @Model.Cpu
                    }
                </th>
            </tr>

            <tr>
                <th>Camera</th>
                <th>
                    @if (@Model.Camera == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        @Model.Camera
                    }
                </th>
            </tr>
            <tr>
                <th>Warranty</th>
                <th>@Model.Warranty</th>
            </tr>

        </table>

    </div>
</div>