﻿@*@model DTDD_BaoThanh.Models.tbl_Categories*@


@*@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("OrderByCategory","Home",new { id = item.Id})">@item.Name</a>
    </li>

}*@

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("OrderByCategory","Home",new { id = 2})">SAMSUNG</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("OrderByCategory","Home",new { id = 3})">OPPO</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("OrderByCategory","Home",new { id = 4})">SONY</a>
</li>
